.work-log-view {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.work-log-entry-drawer {
    background: var(--lumo-base-color);
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: auto;
    transition: right 200ms ease-out;
    min-width: 300px;
}

@media screen and (max-width: 400px) {
    .work-log-entry-drawer {
        width: 400px;
        right: -400px;
    }

    .work-log-view.drawer-visible .work-log-entry-drawer {
        width: 100%;
        right: 0;
    }
}

@media screen and (min-width: 401px) {
    .work-log-entry-drawer {
        width: 400px;
        right: -400px;
    }

    .work-log-view.drawer-visible .work-log-entry-drawer {
        width: 400px;
        right: 0;
        box-shadow: var(--lumo-box-shadow-m);
        transition: right 200ms ease-in;
    }
}

